<center>
  <h1 class="display-4"><%= t('.header', title: @test_passage.test.title) %></h1>
  <center>
  <h1> <%= t('.passing', test: @test_passage.test.title) %> </h1>
  <br>
  <div id="progress_bar">
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar"></div>
    </div>
    <%= content_tag :p, "0 %", class: "progress-bar-value", data: { current_question_num: @test_passage.current_question_number, questions_num: @test_passage.test.questions.size} %>
  </div>
</center>
<br>
  <p class="text-start fw-bold fs-5">
    <%= @test_passage.current_question.title %>
  </p>

  <p>
    <%= @test_passage.current_question_number %>/<%= @test_passage.questions_number  %>
  </p>

  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object_id}" %>
        <%= b.label %>
      </p>
    <% end %>

    <p><%= link_to t('.qist_question'),  gists_path(:test_passage_id=> @test_passage.id), method: :post %></p>
    <p><%= form.submit t('.next') %></p>
    <p><%= button_to t('.back'), tests_path %></p>
  <% end %>
