<<<<<<< HEAD
<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: "navbar-brand" %>
  <span class="navbar-text">
   <% if user_signed_in? %>
      <%= t('.welcome')%>, <b><%= current_user.first_name %></b> <%= link_to t('.guru'), root_path %>
      <button type="button" class="btn btn-outline-dark btn-sm">
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      </button>
    <% else %>
      <%= link_to t('.login'), new_session_path(resource_name) %> |
      <%= link_to t('.signup'), new_registration_path(resource_name) %>
    <% end %>

    <% if current_user.is_a?(Admin) %>
      <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to t('.admin'), admin_tests_path %></button>
    <% end %>
  </span>
</nav>
=======
<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: "navbar-brand" %>
  <span class="navbar-text">
   <% if user_signed_in? %>
      <%= t('.welcome')%>, <b><%= current_user.first_name %></b> <%= link_to t('.guru'), root_path %>
      <button type="button" class="btn btn-outline-dark btn-sm">
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      </button>
    <% else %>
      <%= link_to t('.login'), new_session_path(resource_name) %> |
      <%= link_to t('.signup'), new_registration_path(resource_name) %>
    <% end %>
    <% if current_user.is_a?(Admin) %>
      <button type="button" class="btn btn-outline-primary btn-sm"><%= link_to t('.admin'), admin_tests_path %></button>
    <% end %>
  </span>
</nav>
>>>>>>> fixbranch
