<h1><%= t('.edit_answer') %></h1>

<p>
  <%= @answer.question.title %>
</p>

<%= render 'form', answer: @answer %>

<%= link_to t('.show_answer'), @answer %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
