<h1><% t('.question') %></h2>

<p>
 <%= @answer.question.title%>
</p>

<p>
  <%= t('.answer') %>
  <%= @answer.title%>
</p>

<p>
 <%= @answer.correct%>
</p>


<%= link_to t('.back'), admin_question_path(@answer.question) %>
