<<<<<<< HEAD
<li>
  <%= question.title %> </td>
<<<<<<< HEAD
  <%= link_to t('.gist_list'), admin_question_gists_path(question) %>
  <%= link_to t('.edit'), edit_admin_question_path(question) %>
  <%= link_to t('.show'), admin_question_path(question) %>
  <%= link_to t('.delete'),
=======
  <%= link_to 'Edit', edit_admin_question_path(question), title: 'Изменить вопрос' %>
  <%= link_to 'Show', admin_question_path(question), title: 'Показать вопрос' %>
  <%= link_to 'Delete',
>>>>>>> parent of ed123a1... Add localosation  (#15)
    admin_test_path(question),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    title: 'Удалить вопрос'%>
</li>
=======
<li>
  <%= question.title %> </td>
  <%= link_to t('.gist_list'), admin_question_gists_path(question) %>
  <%= link_to t('.edit'), edit_admin_question_path(question) %>
  <%= link_to t('.show'), admin_question_path(question) %>
  <%= link_to t('.delete'),
    admin_test_path(question),
    method: :delete,
    data: { confirm:  t('.confirm') }%>
</li>
>>>>>>> fixbranch
