<li>
  <%= question.title %> </td>
  <%= link_to t('.gist_list'), admin_question_gists_path(question) %>
  <%= link_to t('.edit'), edit_admin_question_path(question) %>
  <%= link_to t('.show'), admin_question_path(question) %>
  <%= link_to t('.delete'),
    admin_test_path(question),
    method: :delete,
    data: { confirm:  t('.confirm') }%>
</li>
