<tr>
  <td><%= test.title %> </td>
  <td><%= test_level(test) %></td>
  <td><%= link_to 'Edit', edit_admin_test_path(test), title: 'Изменить тест' %></td>
  <td><%= link_to 'Show', admin_test_path(test), title: 'Показать тест' %></td>
  <<td>
    <%= link_to 'Delete',
    admin_test_path(test.id),
    method: :delete,
    data: { confirm: 'Are you sure?' },
    title: 'Удалить тест' %>
  </td>>
<tr>
