<tr>
  <td class="align-middle">
    <%= test.title %>
    <%= render 'form_inline', test: test == @test? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= button_to t('.edit'), edit_admin_test_path(test)%></td>
  <td class="align-middle"><%= button_to t('.show'), admin_test_path(test)%></td>
  <td class="align-middle">
    <%= button_to t('.delete'),
    admin_test_path(test.id),
    method: :delete,
    data: { confirm: t('.confirm')} %>
  </td>
</tr>
