<div class="container">
  <h1><%= t('.header') %></h1>
<%# Поправить ублюдскую кнопку %>
  <div class="position-absolute bottom-40 start-50 translate-middle">/
    <button type="button" class="btn btn-outline-success">
      <%= link_to t('.new_test'), new_admin_test_path %>
    </button>
  </div>

  <table class="table">
    <tr>
      <th class="sort-by-title pointer" scope="col">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('.level') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>

    <%= render @tests %><br>
  </table>
</div>
