<div class="row justify-content-center w-100">
  <h1><%= t('.header') %></h1>
  <%= render 'shared/errors', resource: @test %>
  <table class="table table-sm table-bordered" id="admin_test_table">
    <tr>
      <th class="sort-by-title pointer align-middle text-center" scope="col">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th class="sort-by-level pointer align-middle text-center" scope="col">
        <%= t('.level') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
    <%= render @tests %><br>
    </table>

    <table class="table table-borderless" >
     <tr>
        <button type="button" class="btn btn-outline-success">
          <%= link_to t('.new_test'), new_admin_test_path %>
        </button>
      <tr>
    </table>
    </div>
</div>
