<<<<<<< HEAD
<<<<<<< HEAD
<div class="container">
  <h1><%= t('.header') %></h1>
<%# Поправить ублюдскую кнопку %>
  <div class="position-absolute bottom-40 start-50 translate-middle">/
    <button type="button" class="btn btn-outline-success">
      <%= link_to t('.new_test'), new_admin_test_path %>
    </button>
  </div>

  <table class="table">
    <tr>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>
=======
<h1>All Test</h1>
<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th colspan="4">Actions</th>
  </tr>
>>>>>>> parent of ed123a1... Add localosation  (#15)

    <%= render @tests %><br>
  </table>
</div>
=======
<div class="container">
  <h1><%= t('.header') %></h1>
<%# Поправить ублюдскую кнопку %>
  <div class="position-absolute bottom-40 start-50 translate-middle">/
    <button type="button" class="btn btn-outline-success">
      <%= link_to t('.new_test'), new_admin_test_path %>
    </button>
  </div>

  <table class="table">
    <tr>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th colspan="4"><%= t('.actions') %></th>
    </tr>

    <%= render @tests %><br>
  </table>
</div>
>>>>>>> fixbranch
