<tr>
  <td class="align-middle text-center"> <%= test.title %> </td>
  <td class="align-middle text-center"> <%= test_level(test) %> </td>
  <td class="align-middle text-center"> <%= test.category.title %> </td>
  <td class="align-middle text-center"> <%= test.author.email %> </td>
  <td class="align-middle text-center"> <%= test.questions.size %> </td>
  <td class="align-middle text-center">
    <% if test.passing_time.present? %>
      <%= test.passing_time %>
    <% else %>
      &#8734
    <% end %>
  </td>
  <td class="align-middle text-center"><%= button_to t('.start'), start_test_path(test)%></td>
</tr>
