<div class="container">
  <h1><%= t('.header')%></h1>

  <table class="table">
    <tr>
      <th class="sort-by-title pointer">
      <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide'%>
        <%= octicon 'arrow-down', class: 'text-success hide'%>
      </th>
      <th class="sort-by-title pointer">
      <%= t('.level') %>
        <%= octicon 'arrow-up', class: 'text-success hide'%>
        <%= octicon 'arrow-down', class: 'text-success hide'%>
      </th>
      <th><%= t('.questions_count') %></th>
    </tr>

    <%= render @tests %><br>
  </table>
</div>
