<div class="row justify-content-center">
  <h1> <%= t('.header') %> </h1>
  <br>
  <table class="table table-bordered" id="test_table">
    <tr class="thead-dark">
      <th class="sort-by-title pointer align-middle text-center">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide'%>
        <%= octicon 'arrow-down', class: 'text-success hide'%>
      </th>
      <th class="sort-by-level pointer align-middle text-center">
        <%= t('.level') %>
        <%= octicon 'arrow-up', class: 'text-success hide'%>
        <%= octicon 'arrow-down', class: 'text-success hide'%>
      </th>
      <th class="align-middle text-center"> <%= t('.category') %> </th>
      <th class="align-middle text-center"> <%= t('.author') %> </th>
      <th class="align-middle text-center"> <%= t('.questions_num') %> </th>
      <th class="align-middle text-center"> <%= t('.passing_time') %> </th>
      <th class="align-middle text-center"> <%= t('.actions') %> </th>
    </tr>
    <%= render @tests %>
  </table>

   <table class="table table-borderless" >
    <tr>
      <td class="text-center"> <%= link_to t('.badges'), badges_path, class: 'btn btn-primary' %> </td>
    </tr>
  </table>
</div>
