<<<<<<< HEAD
<<<<<<< HEAD
  <div class="container">
  <h1><%= t('.header')%></h1>

  <table class="table">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
    </tr>
=======
<h1>All Test</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th colspan="4">Actions</th>
  </tr>
>>>>>>> parent of ed123a1... Add localosation  (#15)

    <%= render @tests %><br>
  </table>
</div>
=======
<div class="container">
  <h1><%= t('.header')%></h1>

  <table class="table">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions_count') %></th>
    </tr>

    <%= render @tests %><br>
  </table>
</div>
>>>>>>> fixbranch
