<h1><%= @test.title %> Test</h1>

<h2>All Questions</h2>

<%= link_to 'New Question', new_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol><br>

<%= link_to 'Edit', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>
