<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
        a {
          text-decoration: none;
        }
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# <%= render 'shared/signed_in' %> %>
   <% if user_signed_in? %>
    <p class="nav user">
      Welcome, <b><%= current_user.first_name && current_user.last_name || current_user.email %></b> <a href="/">Guru </a>
    <%= button_to 'Выйти',  destroy_user_session_path, method: :delete %>
    </p>
  <% end %>

  <%= render 'shared/flash' %> %>

   <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
